
	
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div class="list-group">
			<a ui-sref="player({ playerId: player.id })" ui-sref-active="active" class="list-group-item" ng-repeat="player in players" title="{{player.name}}">
				<img ng-src="{{player.teamImage}}" class="hidden-sm" />&nbsp;{{player.name}}
			</a>
		</div>
	</div>
	
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
		
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
			<img ng-src="{{player.image}}" alt="{{player.name}} MLB Photo" class="img-thumbnail" />
		</div>
		
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
			<div class="row">
				<div class="col-lg-6">
					<h2>{{player.name}}</h2>
				</div>
				<div class="col-lg-6">
					<label for="opponentFilter">
						Opponent:
						<input id="opponentFilter" type="search" ng-model="filter.opp" />
					</label>
				</div>
			</div>
			
			<div class="table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<caption>Games: {{filteredGames.length}}</caption>
					<thead>
						<tr>
							<th><a href ng-click="sort('date')">Date&nbsp;<i ng-class="{'glyphicon-chevron-down' : sort.column == 'date', 'glyphicon-chevron-up' : sort.column == '-date'}" class="glyphicon"></i></a></th>
							<th><a href ng-click="sort('opp')">Opp&nbsp;<i ng-class="{'glyphicon-chevron-down' : sort.column == 'opp', 'glyphicon-chevron-up' : sort.column == '-opp'}" class="glyphicon"></i></a></th>
							<th><a href ng-click="sort('AB')">AB&nbsp;<i ng-class="{'glyphicon-chevron-down' : sort.column == 'AB', 'glyphicon-chevron-up' : sort.column == '-AB'}" class="glyphicon"></i></a></th>
							<th><a href ng-click="sort('H')">Hits&nbsp;<i ng-class="{'glyphicon-chevron-down' : sort.column == 'H', 'glyphicon-chevron-up' : sort.column == '-H'}" class="glyphicon"></i></a></th>
							<th><a href ng-click="sort('HR')">HR&nbsp;<i ng-class="{'glyphicon-chevron-down' : sort.column == 'HR', 'glyphicon-chevron-up' : sort.column == '-HR'}" class="glyphicon"></i></a></th>
							<th><a href ng-click="sort('RBI')">RBI&nbsp;<i ng-class="{'glyphicon-chevron-down' : sort.column == 'RBI', 'glyphicon-chevron-up' : sort.column == '-RBI'}" class="glyphicon"></i></a></th>
							<th>AVG</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="game in filteredGames = (player.games | filter:filter.opp | orderBy: sort.column)">
							<td>{{game.date | date:'MMM d, yyyy'}}</td>
							<td>{{game.opp}}</td>
							<td>{{game.AB}}</td>
							<td>{{game.H}}</td>
							<td>{{game.HR}}</td>
							<td>{{game.RBI}}</td>
							<td>{{ (game.H / game.AB) || '.000' | number:3}}</td>
						</tr>
						<tr ng-show="filteredGames.length == 0">
							<td colspan="7">
								<p class="alert alert-info">
									<strong>Sorry!</strong> There are no opponents with that name.
								</p>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><span ng-show="filter.opp">Opponent&nbsp;</span>Totals</td>
							<td>&mdash;</td>
							<td>{{totals.AB}}</td>
							<td>{{totals.H}}</td>
							<td>{{totals.HR}}</td>
							<td>{{totals.RBI}}</td>
							<td>{{totals.AVG | number:3}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
	</div>